[Desktop Entry]
Name=RC Gamepad Dongle
Comment=Configure RC-to-USB joystick dongles
Exec=rc-gamepad-dongle
Icon=logo_512
Type=Application
Categories=Utility;Electronics;Engineering;
Keywords=rc;joystick;gamepad;dongle;drone;flight;simulator;
StartupNotify=true
MimeType=application/json;